.img-h {
    height: 500px;
}

.textos {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.titulos {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1A56DB;
}